<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<style>
  ul {
    padding: 0;
    list-style: none;
    display: flex;
  }
  li {
    padding: 0 1rem;
  }
</style>
<header>
    <% include ./partials/_header %>
</header>
<body>
  <% for (const url in urls) {%>
  <p><%= url %>: <%= urls[url] %>
      <form method="POST" action="/urls/<%= url %>/delete">
        <button>Delet this</button>
      </form>
      <a href="urls/<%= url %>"><button>Edit</button></a>
  <%} %>
  </p>
  <a href="/urls/new">Shorten another URL</a>
</body>
</html>